@import "./utils";
.background {
  @include flexer();
  height: fit-content;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  .bg {
    background: #000000a8;
    color: white;
    width: 89%;
    font-size: large;
    font-family: font;
    height: fit-content;
    text-align: start;
    font-family: $fonts;
    font-size: 1.5rem;
    padding: 1.8rem;
    border: 3px solid $lgreen;
    // box-shadow: 10px 10px $lgreen;

    @media screen and (max-width:550px) {
      padding: .6rem;
    }
  }
}
